body {
  background-color: #333;
  color: #ddd;
  font-family: sans-serif;
}

details {
  border: 1px solid #ddd;
  padding: 9px;
  font-size: 0.8em;
  color: #ccc;
}

summary {
  font-size: 1em;
  color: #ddd;
}

ul {
  font-weight: 100;
}
