body {
  background: #48e;
  margin: 0;
  font-family: sans-serif;
  color: #fff;
}

.box {
  width: 100%;
  height: 100px;
  background-color: #000;
  background: url(imagenes/alejandro.png) top / cover fixed #6fa;
}

.opaco {
  height: 100%;
  width: 100%;
  background-color: #000a;
}

h2 {
  padding: 20px;
  text-align: center;
}
